<div class="footer">
    <div class="footerNav">
        <a href="../html/summary.html"><div class="navItem navSelectedFooterSummary">
            <div class="">
                <img class="iconWidth" src="../assets/img/summary.png">
            </div>
            <div>Summary</div>
        </div></a>
        <a href="../html/board.html"><div class="navItem navSelectedFooterBoard">
            <div class="">
                <img class="iconWidth" src="../assets/img/board.png">
            </div>
            <div>Board</div>
        </div></a>
        <a href="../html/addtask.html"><div class="navItem navSelectedFooterTasks">
            <div class="">
                <img class="iconWidth" src="../assets/img/add-task.png">
            </div>
            <div class="textcenter">Add Task</div>
        </div></a>
        <a href="../html/contacts.html"><div class="navItem navSelectedFooterContacts">
            <div class="">
                <img class="iconWidth" src="../assets/img/contacts.png">
            </div>
            <div>Contacts</div>
        </div></a>
    </div>
</div>